.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.aboutMe {
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  line-height: 20px;
  color: #333333;
  border: 1px solid #b1b1b1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
}

li {
  margin-bottom: 1rem;
}

li.examples {
  margin-bottom: 0;
}

.headerName {
  display: flex;
  justify-content: center;
  color: #333333;
  font-size: 14px;
  margin-left: -31.5rem;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #b1b1b1;
  color: #333333;
  transition: font-size 0.3s ease-in-out;
}
a:hover {
  font-size: 1.1em;
}

@media (max-width: 415px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
  }

  .aboutMe {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
  }

  .headerName {
    margin-left: -14.5rem;
    display: flex;
    justify-content: center;
  }

  ul {
    padding: 0 40px 0 60px;
  }
}

@media (max-width: 390px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    position: absolute;
  }

  .aboutMe {
    width: 100%;
    margin: 0;
    /* padding: -1rem; */
    padding: 0;
    border: none;
    box-shadow: none;
  }

  .headerName {
    margin-left: -13rem;
    display: flex;
    justify-content: center;
    /* margin-top: 10vh; */
  }

  ul {
    padding: 0 40px 0 60px;
  }
}

@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
  }

  .headerName {
    margin-left: -12rem;
    display: flex;
    margin-top: 25vh;
  }
  ul {
    padding: 0 40px 0 60px;
  }
}
