body {
  background: rgb(239, 239, 239);
  background-image: url(../public/assets/images/noise.png);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 25vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto 6rem auto;
  padding: 1rem;
  color: #333333;
  border: 1px solid #b1b1b1;
  border-radius: 1.5rem;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
}

/* Defines the animation */
@keyframes pulse {
  0% {
    border-color: #b1b1b1;
  }
  50% {
    border-color: #000;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  100% {
    border-color: #b1b1b1;
  }
}

.projectSection {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  height: 480px;
}

li {
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25vh;
}

a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #b1b1b1;
  transition: font-size 0.3s ease-in-out;
}

a:hover {
  font-size: 1.1em;
}

.caretContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caret {
  width: 30px;
  height: 30px;
}

@media (max-width: 390px) {
  .headerName {
    /* margin: 2rem 0; */
    margin: 2rem 13rem 2rem 0;
  }

  .content {
    max-width: 250px;
  }

  .wrapper {
    font-size: 12px;
  }

  ul {
    padding: 0 3rem;
  }

  li {
    margin-bottom: 1rem;
  }
  .twitter {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 375px) {
  .headerName {
    /* margin: 3rem 0; */
    margin: 3rem 12rem 3rem 0;
  }

  .wrapper {
    font-size: 11px;
  }

  ul {
    padding: 0 3rem;
  }

  li {
    margin-bottom: 1rem;
  }
  .twitter {
    margin-bottom: 0.5rem;
  }
}
